*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.img .logo{
margin-right: 20px;
}




.menu{
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 0;
  left: 0%;
  right: 0;
  width: 100;
  background: var(--light-gray3);

  
}

.submenu{
display: flex;
justify-content: flex-start;
align-items: center;
height: inherit;
font-weight: 800;



} 

.submenu h4:nth-child(even){

  margin: 0 10px;
  
}
.login{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  
}
.menu2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  border: 1px solid coral;
  text-align: left;

}
.troca{
  text-align: center;
}


.menu2 h4:nth-child(odd){
  margin: 0 10px;
}



body{

  width: 10%;
  display: grid;
  
}

